{% extends "base.html" %}

{% block content %}

<h1>Edytuj wpis</h1>



<form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.content.label }}
        {{ form.content(class="form-control", rows=6) }}
    </div>
    
    <div class="form-check">
    {{ form.is_published(class="form-check-input") }}
    {{ form.is_published.label(class="form-check-label") }}
    </div>  

    {{ form.submit(class="btn btn-primary") }}

</form>

{% endblock %}